body{
    background-color: whitesmoke;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #462BB1;
}

.Logo {
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
}

.link-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
}

.link-list a {
    color: rgb(223, 211, 211);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5vh;
    padding: 10px 15px;
    font-weight: bold;
}

#sign-up {
    border: 1px solid white;
}

.titlu{
    text-align: center;
    color: rgb(38, 62, 114);
    font-size: 3.5vh;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: -30px;
    font-weight: bold;
}

.container{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    margin-left: 30vw;
    margin-top: 10vh;
    border-radius: 30px;
    background-color: rgba(7, 31, 248, 0.11);

}

.content{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    height: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    padding: 20px;
}

.Addbtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 6.5vh;
    margin: 10px;
    border-radius: 20px;
}