* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #462BB1;
}

.logo {
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
}

.link-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
}

.link-list a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5vh;
    padding: 10px 15px;
    font-weight: bold;
}

#sign-up {
    border: 1px solid white;
}

.main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(233, 231, 231, 0.377);
}
.content {
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    position: relative; 
    background-color: rgba(7, 31, 248, 0.11);

}

h1 {
    font-size: 30px;
    position: absolute;
    top: 5%;   
}
span {
    position: absolute;
    top:20%;
    left: 7%;
    right: 7%;
   
}
form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-container {
    display: flex;
    width: 100%;
    justify-content: center;
   
}
.icon {
    background: #462BB1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 35%;
}
.input-box {
    padding: 10px;
    display: flex;
    border:  solid #462BB1;
    width: 100%;
    margin-top: 35%;
}

.submit-button {
    width: 80%;
    height: 50px;
    background-color: #462BB1;
    border: none;
    color: white;
    letter-spacing: 2px;
    margin-top: 10px;
}
.submit-button:hover {
    background-color: #7365ab;
}

.account{
    letter-spacing: 2px;
    margin-top: 20%;
    color:#462BB1;
    font-weight: bold;
    font-size:20px;
}

.toLogin{
    margin-top: 70px;
    border: #462BB1;
    letter-spacing: 2px;
    margin-top: 15%;
    width: 80%;
    height: 50px;
    background-color: rgba(7, 31, 248, 0.205);
}
.toLogin:hover{
    background-color: rgb(189, 186, 186);
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        height: 80vh;
    }
    .input-box{
        margin-top: 40%;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    span{
        font-size: 19px;
        top:20%;
    }
    .icon {
        width: 30px;
        height: 40px;
        margin-top: 40%;
    }
    #sign-in,
    #sign-up {
        font-size: 11px;
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 80%;
    }
    h1 {
        font-size: 40px;
        top: 8%;
    }
    span{
        font-size: 25px;
        top:20%;
    }
    .input-box{
        margin-top: 20%;
        height: 50px;
        font-size: 20px;
    }
    .icon {
        margin-top: 20%;
    }
    .submit-button{
        font-size: 20px;
    }
    .account{
        font-size: 30px;
    }
    .toLogin{
        font-size: 20px;
    }
 
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .content {
        width: 80%;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    span{
        font-size: 15px;
        top:20%;
    }
    .input-box{
        margin-top:70%;
    }
    .icon {
        margin-top:70%;
    }
    .account{
        font-size: 15px;
    }
   
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .input-box{
        margin-top:70%;
    }
    .icon {
        margin-top:70%;
    }
    .account{
        font-size: 15px;
    }
   
}
@media screen and (max-width: 375px) and (max-height: 812px) {
    .account{
        font-size: 15px;
    }
  
}
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .content{
        width: 80%;
    }
}



