* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #462BB1;
}

.logo {
    color: whitesmoke;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
}

.main {
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: url(./social-media-pattern-.jfif);*/
}

.main-content {
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-side {
    width: 15vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.post-area {
    width: 80%;
    height: 90%;
    background-color: #f3f3f3;
    box-shadow: 10px 10px lightgrey;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid 20px #1c226b;
}

.btn {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #1c226b;
    color: white;
}

.post-content {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    height: 30%;
    width: 80%;
    border-radius: 10px;
}

.main-side-left {
    width: 15vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-content {
    height: 20%;
    width: 80%;
    background-position-x: left;
    box-shadow: 10px 10px lightgrey;
    border-radius: 8px;
    border-top: solid 20px #1c226b;
    background-color: #f3f3f3;
}


/*social media buttons*/

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-chart-pie {
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.social-btn {
    width: 80%;
    height: 7%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats-btn {
    width: 90%;
    height: 7%;
    border-radius: 20px;
    background-color: #1c226b;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


/*End Social Media Btn*/


/* Avatar + Drop menu bar*/

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-dropmenu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    display: inline-block;
}

.drop-button {
    background-image: url('resized.png');
    vertical-align: middle;
    width: 50px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #462BB1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    right: -55px;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #f1f1f1
}

.avatar-dropmenu:hover .drop-content {
    display: block;
}

.drop-content li {
    border-bottom: 1px solid;
}

.drop-content li:last-child {
    border: 0px;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        height: 70vh;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    .input-container {
        height: 35px;
    }
    .icon {
        height: 24px;
        padding: 4px;
    }
    .btn {
        height: 35px;
    }
    .container {
        font-size: 12px;
    }
    #sign-in,
    #sign-up {
        font-size: 11px;
    }
}


/*dimensiuni semanatoare cu iphone X*/

@media screen and (max-width: 411px) and (max-height: 823px) {
    .main {
        background-repeat: no-repeat;
        background-size: 414px 750px;
        background-image: url(./assets/bgrot.jpg);
    }
    .drop-content {
        right: -21px;
    }
}

@media screen and (max-width: 414px) and (max-height: 812px) {
    .main {
        background-repeat: no-repeat;
        background-size: 414px 670px;
        background-image: url(./assets/bgrot.jpg);
    }
    .drop-content {
        right: -22px;
    }
}


/*Iphone 5*/

@media screen and (max-width: 320px) and (max-height: 568px) {
    .main {
        background-repeat: no-repeat;
        background-size: 320px 511px;
        background-image: url(./assets/bgrot.jpg);
    }
    .drop-content {
        right: -16px;
    }
}


/*Iphone X*/

@media screen and (width: 375px) and (height: 812px) {
    .main {
        background-repeat: no-repeat;
        background-size: 375px 730px;
        background-image: url(./assets/bgrot.jpg);
    }
    .drop-content {
        right: -20px;
    }
}


/*Ipad*/

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 60%;
    }
    .drop-content {
        right: -40px;
    }
}


/*Ipad*/

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 60%;
    }
    .main {
        background-repeat: no-repeat;
        background-size: 1024px 1300px;
        background-image: url(./assets/bgrot.jpg);
    }
    .drop-content {
        right: -40px;
    }
}