* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #462BB1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: #462BB1;
}

footer h3 {
    letter-spacing: 3px;
    color: whitesmoke;
}

.logo {
    color: whitesmoke;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
}

.link-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
}

.link-list a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5vh;
    padding: 10px 15px;
    font-weight: bold;
}

#sign-up {
    border: 1px solid white;
}

.main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/goodone.jpg);
}

.content {
    width: 30%;
    height: 55vh;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 3px solid #462BB1;
    position: relative;
}

h1 {
    font-size: 40px;
    position: absolute;
    top: 10%;
}

form {
    width: 70%;
}

.input-box {
    width: 100%;
    height: 25%;
    border: 2px solid #462BB1;
}

.btn {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    width: 80%;
    height: 100%;
    display: inline-block;
    background-color: #462BB1;
    border: none;
    color: white;
    letter-spacing: 2px;
}

.submit-button:hover {
    background-color: #7365ab;
}

#policy-link {
    color: black;
    letter-spacing: 1px;
}

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #462BB1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #462BB1;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-box {
    /*width: 100%;
    height: 25%;
    border: 2px solid #462BB1;*/
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-box:focus {
    border: 2px solid #462BB1;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        height: 70vh;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    .input-container {
        height: 35px;
    }
    .icon {
        height: 24px;
        padding: 4px;
    }
    .btn {
        height: 35px;
    }
    .container {
        font-size: 12px;
    }
    #sign-in,
    #sign-up {
        font-size: 11px;
    }
}


/*dimensiuni semanatoare cu iphone X*/

@media screen and (max-width: 411px) and (max-height: 823px) {
    .main {
        background-repeat: no-repeat;
        background-size: 414px 750px;
        background-image: url(./assets/Iphone_6\,7\,8_PLUS.png);
    }
}

@media screen and (max-width: 414px) and (max-height: 812px) {
    .main {
        background-repeat: no-repeat;
        background-size: 414px 670px;
        background-image: url(./assets/Iphone_6\,7\,8_PLUS.png);
    }
}


/*Iphone 5*/

@media screen and (max-width: 320px) and (max-height: 568px) {
    .main {
        background-repeat: no-repeat;
        background-size: 320px 511px;
        background-image: url(./assets/Iphone5.png);
    }
}


/*Iphone X*/

@media screen and (width: 375px) and (height: 812px) {
    .main {
        background-repeat: no-repeat;
        background-size: 375px 730px;
        background-image: url(./assets/IphoneX.png);
    }
}


/*Ipad*/

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 60%;
    }
}


/*Ipad*/

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 60%;
    }
    .main {
        background-repeat: no-repeat;
        background-size: 1024px 1300px;
        background-image: url(./assets/IpadPRO\ _1\,5inch.png);
    }
}