* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #462BB1;
}

.logo {
    color: whitesmoke;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
}

.link-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
}

.link-list a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5vh;
    padding: 10px 15px;
    font-weight: bold;
}

#sign-up {
    border: 1px solid whitesmoke;
}

.main {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:whitesmoke;
}

.content {
    width: 30%;
    height: 55vh;
    background-color: rgba(7, 31, 248, 0.11);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    border: 3px solid #462BB1;
    position: relative;
    padding-bottom: 10vh;
}

h1 {
    font-size: 40px;
    position: absolute;
    top: 10%;
}

span{
    font-size: 20px;
    position: absolute;
    top: 20%;
}

form {
    width: 70%;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
}


.icon {
    padding:15px;
    background: #462BB1;
    color: whitesmoke;
    min-width: 50px;
    text-align: center;
}

.input-box {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 2px solid #462BB1;
}

.input-box:focus {
    border: 2px solid #462BB1;
}

.submit-button {
    width: 80%;
    height: 50px;
    background-color: #462BB1;
    border: none;
    color: whitesmoke;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline-block;
}

.submit-button:hover {
    background-color: #7365ab;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        height: 50vh;
    }
    h1 {
        font-size: 20px;
        top: 8%;
    }
    span {
        font-size: 15px;
        top: 18%;
    }
    .input-container {
        height: 35px;
    }
    .icon {
        height: 35px;
        padding: 8px;
    }
    .container {
        font-size: 12px;
    }
    #sign-in,
    #sign-up {
        font-size: 11px;
    }
}


/*dimensiuni semanatoare cu iphone X*/

@media screen and (max-width: 411px) and (max-height: 823px) {
    .content {
        width: 80%;
        height: 60vh;
        padding-bottom: 15vh;
    }
    .main {
        min-height: 80vh;
    }
    h1 {
        font-size: 30px;
        top: 10%;
    }
    span {
        font-size: 12px;
        top: 25%;
    }
}

@media screen and (max-width: 414px) and (max-height: 812px) {
    .content {
        width: 80%;
        height: 60vh;
        padding-bottom: 10vh;
    }
    .main {
        min-height: 80vh;
    }
    h1 {
        font-size: 30px;
        top: 10%;
    }
    span {
        font-size: 12px;
        top: 25%;
    }
}


/*Iphone 5*/

@media screen and (max-width: 320px) and (max-height: 568px) {
    .content {
        width: 80%;
        height: 60vh;
        padding-bottom: 5vh;
    }
    .main {
        min-height: 90vh;
    }
    h1 {
        font-size: 30px;
        top: 10%;
    }
    span {
        font-size: 12px;
        top: 25%;
    }
    .input-box {
        width: 100%;
        padding: 5px;
        outline: none;
        border: 2px solid #462BB1;
    }
}


/*Iphone X*/

@media screen and (width: 375px) and (height: 812px) {
    .content {
        width: 80%;
        height: 60vh;
        padding-bottom: 15vh;
    }
    .main {
        min-height: 80vh;
    }
    h1 {
        font-size: 30px;
        top: 10%;
    }
    span {
        font-size: 12px;
        top: 25%;
    }
}


/*Ipad*/

@media screen and (width: 768px) and (height: 1024px) {
    .content {
        width: 70%;
        height: 40vh;
        padding-bottom: 2vh;
    }
    .main {
        min-height: 90vh;
    }
    h1 {
        font-size: 45px;
        top: 10%;
    }
    span {
        font-size: 25px;
        top: 30%;
    }
}


/*Ipad*/

@media screen and (width: 1024px) and (height: 1366px) {
    .content {
        width: 70%;
        height: 35vh;
        padding-bottom: 2vh;
    }
    .main {
        min-height: 80vh;
    }
    h1 {
        font-size: 55px;
        top: 10%;
    }
    span {
        font-size: 35px;
        top: 30%;
    }
}